@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;700&display=swap');

header{
    margin: 30px;
    font-family: 'Krona One';
}

header a{
    text-decoration: none;
    color: black;
}

header > section > img{
    width: 200px;
    height: auto;
}

header > section:nth-child(1){
    display: flex;
    justify-content: space-between;
    border-bottom: solid grey 1px;
    padding-bottom: 30px;
}

header > section > section {
    display: flex;
    align-items: center;
}

header > section > section > p{
    color: #A6C297;
}

header > section > section > div{
    border: solid gray 1px;
    border-radius: 40px;
    width: 200px;
    height: 40px;
    margin-right: 50px;
    position: relative;
}

header > section > section > div > svg {
    padding: 10px;
    position: absolute;
    right: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 12px;
}

nav section{
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 16px;
}

nav section:nth-child(2) > a {
    border: solid 1px grey;
    border-radius: 40px;
    padding: 5px 30px;
}

nav > section > section{
    margin-left: 40px;
}

.icons a {
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
}

.icons a:nth-child(1){
    color: #FFBBBB
}

.icons a:nth-child(2) {
    color: #AEC3DE
}

.header-picture{
    width: 100%;
    height: auto;
    margin-top: 30px;
    border-radius: 50px;
}

.header-bottom h2{
    font-size: 50px;
    text-transform: uppercase;
    
}

.header-bottom p {
    width: 400px;
    font-weight: 100;
    font-size: 15px;
    margin-bottom: 40px;
    margin-left: 60%;
}

.header-bottom a {
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 40px;
    margin-left: 60%;
}


p{
    color: black;
    font-family: 'Montserrat';
}


p.blocSpecification{
    padding-top: 70px;
    color: black;
    font-family: 'Montserrat';
}

/* Moha */

h1.bloc{
    color: #1B314B;
    font-family: 'Krona One';
    padding-left: 35px;
}
h2.bloc{
    color: #1B314B;
    font-family: 'Krona One';
    
}
h3.bloc{
    color: #A6C297 ;
    font-family: 'Krona One';
    padding-left: 35px;
}

div.first{
    display: flex;
    justify-content: space-around;
}

article{
    border-radius: 30px;
}

article.firstBloc{
    max-width: 880px;
    border: solid grey 1px;
    display: flex;
    display: inline-flex;
    padding-left: 30px;
}

div.firstBlocText{
    padding-right: 30px;
}

div.firstBlocImage{
    width: 100%;
}

img.firstBlocImg{
    max-width: 400px;
    border-radius: 0px 30px 30px 0px;
}

article.secondBloc{
    max-width: 400px;
    border: solid grey 1px;
    padding-left: 30px;
}

div.second{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

h2.secondBloc{
    color: white;
    font-family: 'Krona One';
}

p.secondBloc{
    padding-top: 70px;
    color: white;
    font-family: 'Krona One';
}
article.firstBloc2{
    max-width: 400px;
    border: solid white 1px;
    padding-left: 30px;
    background-color: #A6C297;
}

.blueblock{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 70px;
    margin: 40px;
    background-color: #AEC3DE;
    text-align: left;
    height: 200px;
    border-radius: 30px;
    padding: 55px 60px 20px 60px;
}
.titre{
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Krona One', sans-serif;
    line-height: 1.7;
    margin-block-start: 0;
}
span{
    background-color: white;
    font-size: 19px;
    font-weight: 600;
    border-radius: 30px;
    color: black;
    padding: 8px 15px;
}
.citation{
    color: white;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Krona One', sans-serif;
    margin-right: 20px;
    margin-bottom: 90px;
}
.auteur{
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.source{
    font-size: 11px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 800;
    margin-bottom: 40px;
}


body {
    margin: 0;
}

footer {
    padding: 50px 0;
    margin-top: 50px;
    background-color: #2E343D;
}

footer section {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    margin: 0 40px;
    padding-bottom: 20px;
    color: white;
}

footer h2 {
    font-family: 'Krona One', sans-serif;
    letter-spacing: 3px;
}

footer ul {
    text-transform: uppercase;
    list-style-type: none;
    padding: 0;
}

#linkFooter {
    display: flex;
    gap: 50px;
    margin-left: 250px;
    margin-block-start: 0.83em
}

#linkFooter a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

#adresseFooter {
    display: flex;
    align-items: flex-end;
}

#adresseFooter img {
    padding-right: 120px;
    margin-block-end: 1em;
    height: 60px;
    width: 60px;
}

#adresseFooter p {
    color: white;
}

hr {
    width: 95%;
    border : 1px solid #4B4B4B;
}

#language {
    display: flex;
    align-items: center;
    gap: 10px;
}

#language p {
    color: white;
}

#language img {
    width: 25px;
    height: 25px;
}

#imageSVG img {
    margin-left: 15px;
    width: 50px;
    height: 50px;
}

#beforeHr {
    padding-top: 40px;
}

#imgMobileCenter {
    display: none;
}
#burgerMenuMobile {
    display: none;
}

p.bold {
    font-weight: bold;
    font-size: 22px;
}

@media (max-width : 767px) {
    footer section {
        display: flex;
    }
    #beforeHr {
        flex-direction: row-reverse;
    }
    #language {
        display: none;
    }
    #linkFooter {
        display: none;
    }
    #adresseFooter img {
        display: none;
    }
    #imgMobileCenter {
        display: block;
    }
    #imgMobileCenter img {
        width: 50px;
        height: 50px;
    }
    #burgerMenuMobile {
        display: block;
        width: 50px;
        height: 50px;
    }
}